/* designed for max-width: 1280px */
.elements {
  display: grid;
  max-width: 880px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px auto 66px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  grid-row-gap: 2.27%;
  grid-column-gap: 1.93%;
}

@media screen and (max-width: 1024px) {
  .elements {
    max-width: 68.8%;
    grid-template-columns: 32% 32% 32%;

  }
}


@media screen and (max-width: 420px) {
  .elements {
    max-width: 100%;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    margin-top: 36px;
    margin-bottom: 48px;
  }

}
