/* designed for max-width: 1280px */
.card__icon {
  background-color: white;
  transition: opacity .5s linear;
  background-image: url("../../../images/heart-icon.svg");
  background-repeat: no-repeat;
  border: none;
  padding: 9.5px 10.5px;
  margin: 0;
  background-size: 100%;
  align-self: center;
}

.card__icon:hover {
  opacity: 0.8;
  cursor: url('../../../images/custom-pointer.svg'), pointer;
}

.card__icon:focus {
  display: none;
}
