@import url(./_transparent/card__icon_transparent.css);

@import url(./_opaque/card__icon_opaque.css);

/* designed for max-width: 1280px */
.card__icon {
  background-color: white;
  transition: opacity .5s linear;
  background-repeat: no-repeat;
  border: none;
  padding: 9.5px 10.5px;
  margin: 0;
  background-size: 100%;
  align-self: center;
  cursor: pointer;
}

.card__icon:focus {
  display: none;
}
