@import url(./_modified/popup__close-container_modified.css);

/* designed for max-width: 1280px */
.popup__close-container {
  position: relative;
  left: 430px;
  top: -35px;
  transition: opacity .5s linear;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  cursor: pointer;
}

.popup__close-container:hover {
  opacity: 0.6;
}

.popup__close-container:focus {
  outline: none;
}

@media screen and (max-width: 420px) {
  .popup__close-container {
    left: 250px;
    top: -50px;
  }
}
