/* check if BEM requires separate hover file */


/* designed for max-width: 1280px */
.popup__close-container {
  position: relative;
  left: 430px;
  top: -35px;
  transition: opacity .5s linear;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.popup__close-container:hover {
  opacity: 0.6;
  cursor: url('/images/custom-pointer.svg'), pointer;
}

.popup__close-container:focus {
  display: none;
}

@media screen and (max-width: 420px) {
  .popup__close-container {
    left: 250px;
    top: -50px;
  }
}
