/* designed for max-width: 1280px */
.profile__job {
  margin: 16px 0 0 0;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width:1024px) {
  .profile__job {
    max-width: 200px;
  }
}

@media screen and (max-width: 420px) {
  .profile__job {
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    line-height: 17px;
    max-width: 150px;
  }
}
