@import url(../card/__description/card__description.css);
@import url(../card/__icon/card__icon.css);
@import url(../card/__image/card__image.css);
@import url(../card/__title/card__title.css);

/* designed for max-width: 1280px */

.card {
  background-color: #fff;
  border-radius: 10px;
  max-width: 282px;
}
